mat-nav-list::-webkit-scrollbar {
  /* 定义了滚动条整体的样式 */
  height: 6px;
  width: 6px
}

mat-nav-list::-webkit-scrollbar-track {
  /* 轨道部分 */
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
}

mat-nav-list::-webkit-scrollbar-thumb {
  /* 滑块部分 */
  background-color: red;
  outline: #333 solid 1px
}
.mat-drawer-inner-container::-webkit-scrollbar {
  width: 8px;
 }
  .mat-drawer-inner-container::-webkit-scrollbar-track {
  background-color:red;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
 }
  .mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background-color:green;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
 }
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

#isLogIn {
  margin-left: 60vw;
  display: flex;
  flex-direction: column;
}

#isLogIn div {
  flex: 1 0 auto;
}
